.grid {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  gap: 3rem;
}

.grid__card img {
  width: 100%;
  border-radius: 2rem;
}

.grid__card a {
  text-decoration: none;
}

.grid__card h4 {
  text-align: center;
  padding: 1rem;
}

.title{
  padding-bottom: 10px;
  padding-top: 20px;
  color: rgba(56, 56, 56);
  font-size: 25px;
  font-weight: 600;
}
