.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 3rem;
}

.grid__card img {
  width: 100%;
  border-radius: 2rem;
}

.grid__card a {
  text-decoration: none;
}

.grid__card h4 {
  text-align: center;
  padding: 1rem;
}

